<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/assests/style.css">
    <title>TradeExchange Landing Page</title>
</head>

<body>
    <!-- Header section containing the navigation bar -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <img class="logo-img" src="/assests/logo.png" alt="TradeExchange logo" />
                </a>
            </div>
            <div class="link" role="navigation">
                <ul class="navbar-links">
                    <li><a class="nav-links" href="/index">Signup</a></li>
                    <li><a class="nav-links" >About</a></li>
                    <li><a class="nav-links" >Products</a></li>
                    <li><a class="nav-links" >Pricing</a></li>
                    <li><a class="nav-links" >Support</a></li>
                    <li><img src="https://static.thenounproject.com/png/3169290-200.png" width="60"></li>
                </ul>
            </div>
        </nav>
    </header>


    <!-- Main content section of the webpage -->
    <main>
        <!-- Homepage content with sections for investment and marketing -->
        <div class="homepage">

            <!-- Section for promoting investment -->
            <section class="main-landing text-center">
                <div class="container1">
                    <img class="landing-image" src="/assests/stocks.png" alt="TradeExchange, no. 1 stock broker in India">
                    <h1 class="landing-heading">Invest in everything</h1>
                    <h5 class="landing-subheading">Online platform to invest in stocks, derivatives, mutual funds, and more</h5>
                    <a href="/index" class="button" id="accop_link">Sign up now</a>
                </div>
            </section>

            <!-- Marketing section highlighting Zerodha as the largest stock broker -->
            <section class="marketing">
                <div class="container2">
                    <div class="Largest-Stock-Broker text-center">
                        <img class="img-margin" src="/assests/largest-stock-broker.svg" alt="" />
                    </div>
                    <div class="marketing-content">
                        <h2 class="marketing-heading">Largest stock broker in India</h2>
                        <p class="marketing-description"> 1.3+ Crore TradeExchange clients contribute to over 15% of all retail order volumes in India daily by trading and investing in:
                        </p>
                        <div class="options">
                            <div class="list">
                                <ul class="list-items">
                                    <li>Futures and Options</li>
                                    <li>Commodity derivatives</li>
                                    <li>Currency derivatives</li>
                                </ul>
                            </div>
                            <div class="list">
                                <ul class="list-items">
                                    <li>Stocks &amp; IPOs</li>
                                    <li>Direct mutual funds</li>
                                    <li>Bonds and Govt. Securities</li>
                                </ul>
                            </div>
                        </div>
                        <div class="press-strip">
                            <a ><img width="528" src="/assests/press-logos.png" /></a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Ecosystem Section -->
            <section class="ecosystem">
                <div class="container3">
                    <div class="ecosystem-content">
                        <div class="ecosystem-text">
                            <h2>Trust with confidence</h2>
                            <div class="why-us-section">
                                <h4>Customer-first always</h4>
                                <p>That's why 1.3+ crore customers trust TradeExchange with ₹3.5+ lakh crores worth of equity investments.</p>
                            </div>
                            <div class="why-us-section">
                                <h4>No spam or gimmicks</h4>
                                <p>No gimmicks, spam, "gamification", or annoying push notifications. High-quality apps that you use at your pace, the way you like.</p>
                            </div>
                            <div class="why-us-section">
                                <h4>The TradeExchange universe</h4>
                                <p>Not just an app, but a whole ecosystem. Our investments in 30+ fintech startups offer you tailored services specific to your needs.</p>
                            </div>
                            <div class="why-us-section">
                                <h4>Do better with money</h4>
                                <p>With initiatives like <a class="ecosystem-text-link"  target="_blank">Nudge</a> and <a class="ecosystem-text-link" target="_blank">Kill Switch</a>, we don't just facilitate transactions but actively help you do better with your money.</p>
                            </div>
                        </div>

                        <div class="ecosystem-image">
                            <div class="text-center">
                                <a ><img class="ecosystem-img" src="/assests/ecosystem.png" alt="The TradeExchange Universe" /></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

            <!-- Unbeatable pricing -->
            <section class="pricing">
                <div class="container4">
                    <div class="pricing-content around">
                        <div class="pricing-content-text">
                            <h2>Unbeatable pricing</h2>
                            <p> We pioneered the concept of discount broking and price transparency in India. Flat fees and no hidden charges.</p>
                        </div>
                        <div class="pricing-content-table">
                            <div class="pricing-content-table-text">
                                <div class="price-table text-center">
                                    <div class="pricing-box">
                                        <h1>&#8377;0</h1>
                                        <p>Free equity delivery and direct mutual funds</p>
                                    </div>
                                </div>
                                <div class="price-table text-center">
                                    <div class="pricing-box">
                                        <h1>&#8377;20</h1>
                                        <p>Intraday and F&O</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

           

            <!-- Open a Zerodha account -->
            <section class="Zerodha text-center">
                <div class="container6">
                    <h2>Open a TradeExchange account</h2>
                    <p class="text-grey text-med">Modern platforms and apps, ₹0 investments, and flat ₹20 intraday and F&amp;O trades.</p>
                    <a class="button" href="/views/index.html">Sign up now</a>
                </div>
            </section>
        </div>
    </main>


</body>

</html>